apiVersion: v1
baseDomain: {{ ocp_install_base_domain }}
#proxy:
#  httpProxy: http://192.168.1.10:8080
#  httpsProxy: http://192.168.1.10:8080
#  noProxy: .changeme.corp
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ ocp_install_master_count }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ ocp_install_worker_count }}
metadata:
  name: "{{ ocp_install_cluster_name }}"
networking:
  machineNetwork:
  - cidr: "{{ ocp_install_machine_cidr }}"
  clusterNetwork:
  - cidr: "{{ ocp_install_clusternetwork_cidr }}"
    hostPrefix: {{ ocp_install_clusternetwork_hostprefix }}
  networkType: "{{ ocp_install_network_type }}"
  serviceNetwork:
  - {{ ocp_install_service_network }}
platform:
  vsphere:
    vcenter: "{{ ocp_install_vsphere_vcenter }}"
    username: "{{ ocp_install_vsphere_username }}"
    password: "{{ ocp_install_vsphere_password }}"
    datacenter: "{{ ocp_install_vsphere_datacenter }}"
    defaultDatastore: "{{ ocp_install_vsphere_datastore }}"
    folder: "{{ ocp_install_vsphere_folder }}"
    network: "{{ ocp_install_vsphere_network }}"
    cluster: "{{ ocp_install_vsphere_cluster }}"
    {% if ocp_install_cluster_osimage %}clusterOSImage: "{{ ocp_install_cluster_osimage }}"{% endif %}

    apiVIP: "{{ ocp_install_api_vip }}"
    ingressVIP: "{{ ocp_install_ingress_vip }}"
    
pullSecret: '{{ ocp_install_pull_secret }}'

sshKey: '{{ ocp_install_ssh_key }}'

imageContentSources: {{ ocp_install_image_content_sources | to_yaml }}

{% if ocp_install_additionaltrustbundle %}
additionalTrustBundle: |
  {{ ocp_install_additionaltrustbundle | indent(2) }}
{% endif %}

